<%- include('partials/header') %>
<main >
<div class="corp">

<section class="container">

  <article id="Leonard Hofstadter" class="container-article">
                    
    <img class="article-photo" src="/image/<%=currentName.name.toLowerCase()%>.jpg" alt="photo Leonard-Hofstadter">
    <h2 class="article-name"><%= currentName.name %></h2>
    <p class="article-presentation"><%= currentName.story %>
    </p>
</article>

</section>
</div>
</main>
<%- include('partials/footer') %>